.posts{
  width: 100%;
  
  &__title{
    margin-bottom: 10px;
  }

  ul {
    counter-reset: list 0;
    li{
      margin-bottom: 5px;
      position: relative;
      padding-left: 5px;
      &:before {
        counter-increment: list;
        content: counter(list) ') ';
        font-weight: 500;
        margin-right: 3px;
      }
    }
  }
}